<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Panel de administrador</h1>
        <p>¡Bienvenido, Profesor!</p>
        <p>Nos complace darle la bienvenida a nuestro Portal de Exámenes, su herramienta de confianza para administrar exámenes teóricos de programación. Estamos comprometidos en ayudarle a simplificar y optimizar su proceso de evaluación, permitiéndole poner a prueba los conocimientos de sus alumnos de manera efectiva.</p>
        <p>En este portal, encontrará un conjunto de funciones diseñadas específicamente para facilitar su labor de administración. Nuestro objetivo es brindarle una experiencia intuitiva y eficiente, permitiéndole enfocarse en lo más importante: el aprendizaje y la evaluación de sus estudiantes.</p>
        <mat-card-content class="ml30">
          <mat-divider></mat-divider>
          <br>
          <h1>Sus funciones:</h1>
          <ul>
            <li>Gestionar las categorías</li>
            <li>Gestionar los exámenes</li>
            <li>Asignar exámenes a distintas categorías</li>
            <li>Gestionar las preguntas</li>
            <li>Asignar preguntas a cada examen</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>