.card {
    padding: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px gray;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

ul, li, p {
    font-size: large;
    margin-bottom: 10px;
}