.card {
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
}

h1 {
    font-weight: bold;
    margin-top: 20px;
}

.tituloCategoria {
    font-weight: bolder;
}

.card-body {
    font-weight: bolder;
    font-size: xx-large
}

.sinDatos{
    margin-left: 20px;
}

.card-title {
    color: grey;
}

.example-header-image {
    background-image: url('/assets/examen.png');
    background-size: cover;
}

.examenImage {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.row {
    margin-top: 10px;
}

.botones {
    margin-top: 10px;
}

.btn {
    margin-right: 10px;
}