.card {
    padding: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px gray;
}

h1 {
    font-weight: bold;
}

.entero {
    margin: 20px;
}

.titulo {
    font-size: large;
    font-weight: bolder;
}

.container {
    padding-top: 20px;
}

.imagen {
    width: 50px;
}