<div class="card">
    <div>
        <h1>Todas las categorias</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of categorias">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <img class="imagen" src="assets/grid.svg" alt="">
                </div>
                <div class="col-11 ">
                    <p class="titulo">{{ c.titulo }}</p>
                    <p class="descripcion">{{ c.descripcion }}</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="container text-center mt20">
        <button routerLink="/admin/add-categoria" class="btn btn-primary">Agregar categoria</button>
    </div>
</div>