<mat-toolbar color="primary">
    <img src="../../../favicon.ico" alt="">
    <span class="ml10">CodeQuiz</span>
    <span class="example-spacer"></span>
    <button *ngIf="!login.isLoggedIn()" mat-button style="margin-right: 10px;" class="link-light ml20" [routerLink]="'/login'">
        Iniciar Sesión
    </button>
    <button *ngIf="!login.isLoggedIn()" mat-button style="margin-right: 10px;" class="link-light ml20" [routerLink]="'/signup'">
        Registrarse
    </button>
    <button *ngIf="login.isLoggedIn()" mat-button style="margin-right: 10px;" class="link-light ml20" (click)="logout()">
        Cerrar Sesión
    </button>
    <button *ngIf="login.isLoggedIn()" mat-button style="margin-right: 10px;" class="link-light ml20" routerLink="/admin/profile">
        {{ login.getUser().username }}
    </button>
</mat-toolbar>